@model smul.mapa.final.core.Models.Registration

@{
    ViewData["Title"] = "Create";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgpps7pi5e3otS0Z3HK4e37CDFvLLKGTc&callback=get"></script>
<h2>Create</h2>

<h4>Registration</h4>
<hr />
<script>

    $(function () {
        $("#CEP").change(function () {

            var cep = this.value;

            $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                if (!("erro" in dados)) {
                    //Atualiza os campos com os valores da consulta.
                    $("#Rua").val(dados.logradouro);


                    var address = dados.logradouro + ', ' + $("#Numero").val() + ' - ' + dados.bairro + ', ' + dados.localidade + ' - ' + dados.uf + ', ' + cep;

                    converteEndereco(address, function (marcador) {
                        $("#Lat").val(marcador.latitude.toString().replace('.', '.'));
                        $("#Lng").val(marcador.longitude.toString().replace('.', '.'));
                    });



                } //end if.
                else {

                    alert("CEP não encontrado.");
                }
            });





        });

    });

    function converteEndereco(endereco, callback) {
        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': endereco }, function (resultado, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var marcador = {
                    latitude: resultado[0].geometry.location.lat()
                    , longitude: resultado[0].geometry.location.lng()
                }
                callback(marcador);
            } else {
                alert('Erro ao converter endereço: ' + status);
            }
        });
    }


    function get() {
        $.ajax({
            type: "GET",
            url: "api/Registrations",
            success: function (datas) {

                myMap(datas);
            },
            error: function () {
                Mensagem("danger", "Erro ao cadastrar!");
            }
        });

    }


</script>
<div>
    <div class="container-fluid">
        <section class="">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomeInstituicao" class="control-label"></label>
                    <input asp-for="NomeInstituicao" class="form-control" />
                    <span asp-validation-for="NomeInstituicao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelefoneFixo" class="control-label"></label>
                    <input asp-for="TelefoneFixo" class="form-control" />
                    <span asp-validation-for="TelefoneFixo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelefoneCelular" class="control-label"></label>
                    <input asp-for="TelefoneCelular" class="form-control" />
                    <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Site" class="control-label"></label>
                    <input asp-for="Site" class="form-control" />
                    <span asp-validation-for="Site" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfileFacebook" class="control-label"></label>
                    <input asp-for="ProfileFacebook" class="form-control" />
                    <span asp-validation-for="ProfileFacebook" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NomeRepresentante" class="control-label"></label>
                    <input asp-for="NomeRepresentante" class="form-control" />
                    <span asp-validation-for="NomeRepresentante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEP" class="control-label"></label>
                    <input asp-for="CEP" class="form-control" />
                    <span asp-validation-for="CEP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rua" class="control-label"></label>
                    <input asp-for="Rua" class="form-control" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PrefeituraRegional" class="control-label"></label>
                    <select class="form-control" id="InputPrefReg" name="PrefeituraRegional">
                        <option>Selecione uma opção</option>
                        <option>Perus</option>
                        <option>Pirituba</option>
                        <option>Freguesia / Brasilândia</option>
                        <option>Casa Verde / Cachoeirinha</option>
                        <option>Santana / Tucuruvi</option>
                        <option>Jaçanã / Tremembé</option>
                        <option>Vila Maria / Vila Guilherme</option>
                        <option>Lapa</option>
                        <option>Sé</option>
                        <option>Butantã</option>
                        <option>Pinheiros</option>
                        <option>Vila Mariana</option>
                        <option>Ipiranga</option>
                        <option>Santo Amaro</option>
                        <option>Jabaquara</option>
                        <option>Cidade Ademar</option>
                        <option>Campo Limpo</option>
                        <option>M'Boi Mirim</option>
                        <option>Capela do Socorro</option>
                        <option>Parelheiros</option>
                        <option>Penha</option>
                        <option>Ermelino Matarazzo</option>
                        <option>São Miguel</option>
                        <option>Itaim Paulista</option>
                        <option>Mooca</option>
                        <option>Aricanduva / Vila Formosa / Carrão</option>
                        <option>Itaquera</option>
                        <option>Guaianases</option>
                        <option>Vila Prudente</option>
                        <option>São Mateus</option>
                        <option>Cidade Tiradentes</option>
                        <option>Sapopemba</option>
                    </select>
                    <span asp-validation-for="PrefeituraRegional" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Segmento" class="control-label"></label>
                    <select id="InputSegmento" class="form-control" name="Segmento">
                        <option>Selecione uma opção</option>
                        <option>Associação</option>
                        <option>Universidade</option>
                        <option>Entidades</option>
                        <option>ONG</option>
                        <option>Movimentos</option>
                        <option>Poder Publico</option>
                    </select>
                    <span asp-validation-for="Segmento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tematica" class="control-label"></label>
                    <select id="InputTematica" class="form-control" name="Tematica">
                        <option>Selecione uma opção</option>
                        <option>Publica</option>
                        <option>Privada</option>
                        <option>Mobilidade</option>
                        <option>Moradia</option>
                        <option>Meio Ambiente</option>
                        <option>Cultura</option>
                        <option>Inclusão</option>
                        <option>Profissional</option>
                        <option>Empresarial</option>
                        <option>Religiosa</option>
                    </select>
                    <span asp-validation-for="Tematica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TempoDeAtucao" class="control-label"></label>
                    <input asp-for="TempoDeAtucao" class="form-control" />
                    <span asp-validation-for="TempoDeAtucao" class="text-danger"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Registro" class="control-label"></label><br />
                    <label>Sim</label>
                    <input asp-for="Registro" class="form-control" />

                    <span asp-validation-for="Registro" class="text-danger"></span>
                </div>
                <div class="form-group hidden">
                    <label asp-for="Lat" class="control-label"></label>
                    <input asp-for="Lat" class="form-control" />
                    <span asp-validation-for="Lat" class="text-danger"></span>
                </div>
                <div class="form-group hidden">
                    <label asp-for="Lng" class="control-label"></label>
                    <input asp-for="Lng" class="form-control" />
                    <span asp-validation-for="Lng" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-default" />
                </div>
            </form>
        </section>

    </div>
</div>

<div>
    <a asp-action="Index">Voltar ao Inicio</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
